@mixin button_1($bg-color, $f_color){
    padding: 1rem 1.5rem;
    background-color: $bg-color;
    color:$f_color;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    &:hover{
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
}
@mixin button_2($bg-color, $f_color){
    padding: .9rem 2rem;
    background-color: $bg-color;
    color:$f_color;
    font-size: 1.3rem;
    border: 1px solid black;
    cursor: pointer;

    &:hover{
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    }
}
@mixin button_3($bg-color, $f_color){
    padding: .9rem 2rem;
    background-color: $bg-color;
    color:$f_color;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1.4rem 0rem;
    &:hover{
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        color: aliceblue;
        background-color: $primary-color;
        border: none;
    }
}

@mixin button_4($bg-color, $f_color){
    padding: .9rem 2rem;
    background-color: $bg-color;
    color:$f_color;
    font-size: 1rem;
    cursor: pointer;
    margin: 1.4rem 0rem;
    border: none;
    border-bottom: solid 2px white;

    &:hover{
        color: $primary-color;
        border-color:$primary-color ;
    }
}